nav .sidenav-trigger { margin: 0; }
.page-footer { position: fixed; width: 100%; left: 0; bottom: 0; right: 0; padding: 0; }
.page-footer .row { margin: 0; }
.page-footer nav { display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex; }
.page-footer nav a { width: 25%; }