<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:cdv = "http://cordova.apache.org/ns/1.0"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.tellmeastorymom.story"
        version   = "1.0.0">

    <name>Tell Me A Story Mom</name>

    <description>
        Tell me a story mom app.
    </description>

    <author href="https://wowitsolutions.com" email="vishwajeet.mandal@wowitsolutions.com">
        Vishwajeet
    </author>

    <content src="index.html" />
    <access origin="*"/>
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <preference name="android-minSdkVersion" value="23" />
    <preference name="permissions" value="none"/>

    <preference name="DisallowOverscroll" value="false"/>
    <preference name="BackgroundColor" value="0xff0000ff"/>
    <preference name="HideKeyboardFormAccessoryBar" value="false"/>
    

    <!-- Customize your app and platform with the preference element. -->
    <preference name="orientation" value="portrait" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device" value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    
    <!-- Define a specific version of PhoneGap to build into your app. -->
    <!-- <preference name="phonegap-version" value="3.5.0" /> -->
    
    <!-- Core plugins -->
    <plugin name="cordova-plugin-dialogs" spec="^2.0.2" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.4" />
    <plugin name="cordova-plugin-vibration" spec="^3.1.1" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.2" />

    <preference name="StatusBarOverlaysWebView" value="false" />

    <!-- Third party plugins -->
        
        <plugin name="cordova-plugin-x-socialsharing" spec="5.4.0" />
        
    <!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    <splash src="splash.png" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="Fullscreen" value="true" />
        <preference name="KeepRunning" value="false"/>
        <preference name="LoadUrlTimeoutValue" value="10000"/>
        <preference name="InAppBrowserStorageEnabled" value="true"/>
        <preference name="LoadingDialog" value="Loading, Please wait..."/>
        <preference name="ErrorUrl" value="error.html"/>
        <preference name="ShowTitle" value="false"/>
        <preference name="HideKeyboardFormAccessoryBar" value="true"/>
        <preference name="LogLevel" value="VERBOSE"/>
        <preference name="AndroidLaunchMode" value="singleTop"/>
        <preference name="DefaultVolumeStream" value="call" />
        <!-- <preference name="OverrideUserAgent" value="Mozilla/5.0 My Browser" />
        <preference name="AppendUserAgent" value="My Browser" /> -->
        <preference name="android-installLocation" value="auto" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="4000" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashShowOnlyFirstTime" value="false" />
        <preference name="SplashScreenSpinnerColor" value="white" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
            
            
            
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
    
        <splash qualifier="port-hdpi" src="res/screens/android/splash-port-hdpi.png" />
        <splash qualifier="port-ldpi" src="res/screens/android/splash-port-ldpi.png" />
        <splash qualifier="port-mdpi" src="res/screens/android/splash-port-mdpi.png" />
        <splash qualifier="port-xhdpi" src="res/screens/android/splash-port-xhdpi.png" />
        <splash qualifier="port-xxhdpi" src="res/screens/android/splash-port-xxhdpi.png" />
        <splash qualifier="port-xxxhdpi" src="res/screens/android/splash-port-xxxhdpi.png" />
         
    </platform>

</widget>
