<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:cdv = "http://cordova.apache.org/ns/1.0"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.tellmeastorymom.story"
        version   = "1.0.0">

    <name>Story App</name>

    <description>
        Story app for kids.
    </description>

    <author href="https://wowitsolutions.com" email="vishwajeet.mandal@wowitsolutions.com">
        Vishwajeet
    </author>

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <content src="index.html" />
    <access origin="*"/>
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <preference name="android-minSdkVersion" value="14" />
    <preference name="permissions" value="none"/>

    <preference name="DisallowOverscroll" value="true"/>
    <preference name="BackgroundColor" value="0xff0000ff"/>
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>

    <!-- Customize your app and platform with the preference element. -->
    <preference name="orientation" value="portrait" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device" value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="white" />
    
    <!-- Define a specific version of PhoneGap to build into your app. -->
    <!-- <preference name="phonegap-version" value="3.5.0" /> -->
    
    <!-- Core plugins -->
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />

    <!-- Third party plugins -->

    <!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    <splash src="splash.png" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="Fullscreen" value="true" />
        <preference name="KeepRunning" value="false"/>
        <preference name="LoadUrlTimeoutValue" value="10000"/>
        <preference name="InAppBrowserStorageEnabled" value="true"/>
        <preference name="LoadingDialog" value="Loading, Please wait..."/>
        <preference name="ErrorUrl" value="error.html"/>
        <preference name="ShowTitle" value="true"/>
        <preference name="LogLevel" value="VERBOSE"/>
        <preference name="AndroidLaunchMode" value="singleTop"/>
        <preference name="DefaultVolumeStream" value="call" />
        <!-- <preference name="OverrideUserAgent" value="Mozilla/5.0 My Browser" />
        <preference name="AppendUserAgent" value="My Browser" /> -->
        <preference name="android-installLocation" value="auto" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashShowOnlyFirstTime" value="false" />
        <preference name="SplashScreenSpinnerColor" value="black" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
            
            <icon src="icon.png" />
    
        <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png" />
        <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png" />
         
    </platform>
    <!-- <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform> -->

</widget>
